# Entornos virtuales
env/
.venv/

# Configuración privada
.env

# Archivos de compilación de Python
__pycache__/
*.py[cod]

# Caché de pytest
.pytest_cache/

# Configuración de VS Code (opcional)
.vscode/

# Logs y datos procesados
logs/
data/